<!doctype html>
<html ng-app>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="todo.js"></script>
    <script src="lessAuth.js"></script>
    <script src="search.js" type="text/javascript"></script>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="todo.css">
    <link rel=""stylesheet"" href="bootstrap/css/bootstrap.css">
</head>
<body>
<!--  <div ng-controller="TodoCtrl">
    <h2>Total todos: {{getTotalTodos()}}</h2>
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}-{{todo.firstID}}</span>
        </li>
    </ul>
    <form class="form-horizontal">
        <textarea type="text" ng-model="formTodoText" ng-model-instant></textarea>
        <br>
        <button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
    </form>
    <button class="btn-large" ng-click="clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
    
    
</div>  -->

    <div id="buttons">
      <label> <input id="query" value='cats' type="text"/><button id="search-button"  disabled onclick="search()">Search</button></label>
    </div>
     <div id="response"></div>
    <pre id="player"></pre>
<!--     <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '600',
          width: '640',
          videoId: 'peEEQ7T-TU8',
          events: {
//            'onReady': onPlayerReady,
            'onReady': stopVideo,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 60000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script> -->
</body>
</html>